//////////////////////////////
// Header
//////////////////////////////

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;

  &-heading {
    display: inline-block;
    margin-top: bs(.5);
    margin-bottom: bs(.5);
  }
}
