////////////////////////////////////////
// Import All The Things
////////////////////////////////////////

// Globals
@import
  'globals/normalize',
  'globals/variables',
  'globals/functions',
  'globals/tags'
;

// Components
@import
  'components/github_user',
  'components/header',
  'components/spinner'
;

.User {
  position: relative;
  background: lightblue;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.StatusList {
  background: #eee;
  padding: 5px;
  margin: 5px 0;
}

.Tooltip {
  position: absolute;
  bottom: 100%;
  width: 80px;
  background: #666;
  color: white;
  text-align: center;
}

.boom {
  font-size: 100px;
}
